body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa;
}

.navbar {
  background-color: #6c5ce7;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.right-nav {
  font-size: 22px;
  font-weight: bold;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 18px;
}

.left-nav h2 {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
}

.left-nav button {
  padding: 8px 24px;
  font-size: 16px;
  background-color:  #f5f6fa;
 color: #2d3436;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: calc(100vh - 65px);
  background-color: #f5f6fa;
}

.own-test,
.random-test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 60%;
  border-radius: 20px;
  background-color: #dfe6e9;
  font-size: 22px;
  font-weight: bold;
  color: #2d3436;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.own-test:hover,
.random-test:hover, .left-nav button:hover{
  transform: scale(1.03);
  background-color: #b2bec3;
}
